* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "exo 2", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  text-align: center;
  flex-wrap: wrap;
}
.title {
  font-size: 22px;
  color: black;
  margin-bottom: 10px;
}
.clock_wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 250px;
  border: 10px solid grey;
  background-color: black;
  color: white;
  /* top: 70%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
}

/* .clock_wrapper:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    285deg,
    rgba(0, 0, 0, 0.175) 50%,
    rgba(0, 0, 0, 0.1) 50%
  );
} */

.clock_wrapper:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

.num_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 18px;
}

.num_wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 15px;
  background-color: black;
}

.num_1 {
  transform: rotate(30deg);
}
.num_1 div {
  transform: rotate(-30deg);
}

.num_2 {
  transform: rotate(60deg);
}
.num_2 div {
  transform: rotate(-60deg);
}

.num_3 {
  transform: rotate(90deg);
}
.num_3 div {
  transform: rotate(-90deg);
}

.num_4 {
  transform: rotate(120deg);
}
.num_4 div {
  transform: rotate(-120deg);
}

.num_5 {
  transform: rotate(150deg);
}
.num_5 div {
  transform: rotate(-150deg);
}

.num_6 {
  transform: rotate(180deg);
}
.num_6 div {
  transform: rotate(-180deg);
}

.num_7 {
  transform: rotate(210deg);
}
.num_7 div {
  transform: rotate(-210deg);
}

.num_8 {
  transform: rotate(240deg);
}
.num_8 div {
  transform: rotate(-240deg);
}

.num_9 {
  transform: rotate(270deg);
}
.num_9 div {
  transform: rotate(-270deg);
}

.num_10 {
  transform: rotate(300deg);
}
.num_10 div {
  transform: rotate(-300deg);
}

.num_11 {
  transform: rotate(330deg);
}
.num_11 div {
  transform: rotate(-330deg);
}

.hand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hand div {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.sec {
  width: 3px;
  height: 40%;
  z-index: 1000;
  background-color: orange;
}

.min {
  height: 38%;
  width: 4px;
  border-radius: 2px;
  background-color: white;
}

.hour {
  height: 28%;
  width: 8px;
  border-radius: 4px;
  background-color: white;
}

#sec {
  transform: rotate(30deg);
}
